.top {
    position: fixed;
    background-color: rgba(67,127,14,255);
    /* border-style: hidden; */
    width: 100%;
    top: 0;
    overflow: hidden;
    margin: 0px;
}

.headline-1 {
    text-align: center;
    font-size: 50px;
    margin-top: 25px;
    margin-bottom: 30px;
    color: white;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
}
.main {
    margin-top: 130px;
}

.left_side {
    float: left;
    margin-left: 1%;
    margin-right: 9%;
    width: 45%;

}

.right_side {
    float: left;
    margin-left: 1%;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: rgb(63, 83, 52);
    width: 100%;
    color: white;
    text-align: center;

}
